# PAT Token from Snowflake (DO NOT COMMIT!)
SNOWFLAKE_PAT=your_pat_token_here

# Snowflake Account Configuration
SNOWFLAKE_ACCOUNT=SFSEAPAC-K_FUKAMORI
SNOWFLAKE_ROLE=ICEBERG_SPARK_ROLE
SNOWFLAKE_DATABASE=ICEBERG_DEMO_DB

# AWS Region (where S3 bucket is located)
AWS_REGION=ap-northeast-1
